<h2>question</h2>

<table>
  <tr>
    <td><input type="radio" name="question" id="question1" /></td>
    <td>10</td>
  </tr>
  <tr>
    <td><input type="radio" name="question" id="question2" /></td>
    <td>10</td>
  </tr>
  <tr>
    <td><input type="radio" name="question" id="question3" /></td>
    <td>10</td>
  </tr>
</table>