<h2>SCORES</h2>

<table>
  <tr>
    <td>selected answer</td>
    <td><%= selected.toString()%>/td></td>
  </tr>

  <tr>
    <td>Correct Answers</td>
    <td><%= list.toString()%></td>
  </tr>
  <tr>
    <td>result</td>
    <td><%= quizResult%></td>
  </tr>
</table>
