
<h2>SCORES</h2>

<table>
  <tr>
    <td>Answered questions</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Correct Answers</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Wrong Answers</td>
    <td>5</td>
  </tr>
</table>