<h2>SCORES</h2>

<table>
  <tr>
    <td>Answered questions</td>
    <td><%=totalNumberOfAnswers%></td>
  </tr>
  <tr>
    <td>Correct Answers</td>
    <td><%=correctAnswers%></td>
  </tr>
  <tr>
    <td>Wrong Answers</td>
    <td><%=wrongAnswers%></td>
  </tr>
</table>
